<%= render(Layout::AppComponent.new) do %>
  <div>
    <section class="flex max-w-screen-md mx-auto">
      This is just a blog. I'm not sure why I have an about. Its another thing to link I guess...
    </section>
  </div>
<% end %>
